<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Check out</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register.">Register</a>
        <a href="/songs">Songs</a>
        <a href="/view-basket">View Basket</a>
        <a href="/account">Account</a>
        <a href="/logout">Logout</a>


    </div>
</body>
<h1>Thank you for yout purchase</h1><br>
<a href="/songs"><button>Go back to songs page</button></a>

</html>